
//TODO: review the user-profile-form.component.html for classes that are not located within this file
// and colocate all styles in this file for the component

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}


.user-profile-form {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  
  background-color: white;
  opacity: .93;
  padding: 0px;

}

.user-profile-form-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  
  min-height: 64px;
  padding-left: 16px;
  border-radius: 2px 2px 0 0;
}

.user-profile-form-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 16px;
}
.user-profile-input-container {
  width: 100%;
  font-size: 14px;
}
.user-profile-btn {
  margin-top: 8px;
  color: white;
}
.user-profile-error-message {
  color: red;
}
.user-profile-message {
  color: #43a047;
}