:host {
  display: inline-flex;
    
  align-items: center;
  justify-content: center;
  align-content: center;
}
.user-presence-tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: auto;
}