
<mat-card class="sign-up-form">
  
  <div class="sign-up-form-header ci-title-2 cr-blue">
    Sign Up
  </div>
  
  <form [formGroup]="rootForm" (ngSubmit)="submit()" class="sign-up-form-content">
    
    <mat-form-field class="sign-up-input-container" color="accent">
      <input matInput formControlName="email" type="text" placeholder="Email">
    </mat-form-field>
    
    <div *ngIf="rootForm.controls['email'].invalid && (rootForm.controls['email'].dirty || rootForm.controls['email'].touched)">
      <mat-error *ngIf="rootForm.controls['email'].errors?.required">
        Email is required
      </mat-error>
      <!-- TODO review if the below "errors?.minlength" should be camel-case or not as "errors?.minLength" -->
      <mat-error *ngIf="rootForm.controls['email'].errors?.minlength">
        Use at least 4 characters
      </mat-error>
      <mat-error *ngIf="rootForm.controls['email'].errors?.maxlength">
        Use 64 characters or fewer
      </mat-error>
      <mat-error *ngIf="rootForm.controls['email'].errors?.email">
        Email is not valid
      </mat-error>
    </div>
    
    <br>
    
    <mat-form-field class="sign-up-input-container" color="accent">
      <input matInput formControlName="password" type="password" placeholder="Password">
    </mat-form-field>
    
    <div *ngIf="rootForm.controls['password'].invalid && (rootForm.controls['password'].dirty || rootForm.controls['password'].touched)">
      <mat-error *ngIf="rootForm.controls['password'].errors?.required">
        Password is required
      </mat-error>
      <mat-error *ngIf="rootForm.controls['password'].errors?.minlength">
        Use at least 8 characters
      </mat-error>
      <!-- TODO: review maxlength restriction of the password control compare to the firebase auth api limitations -->
      <mat-error *ngIf="rootForm.controls['password'].errors?.maxlength">
        Use 64 characters or fewer
      </mat-error>
    </div>
    
    <br>
    
    <mat-form-field class="sign-up-input-container" color="accent">
      <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm password">
    </mat-form-field>
    
    <div *ngIf="rootForm.controls['confirmPassword'].invalid && (rootForm.controls['confirmPassword'].dirty || rootForm.controls['confirmPassword'].touched)">
      <mat-error *ngIf="rootForm.controls['confirmPassword'].errors?.required">
        Confirm password is required
      </mat-error>
    </div>
    
    <br>
    
    <div *ngIf="rootForm.controls['password'].dirty || rootForm.controls['confirmPassword'].dirty">
      <mat-error *ngIf="rootForm.errors?.nomatch">
        Password and Confirm password must match
      </mat-error>
    </div>
    
    <!-- TODO: loading, error, errorCode, errorMessage -->
    
    <br>
    
    <button mat-raised-button class="sign-up-btn cr-blue" [disabled]="rootForm.invalid" type="submit">SIGN UP</button>
    
  </form>
  
</mat-card>
<!-- Development -->
<mat-card>
  <p>Form: {{ rootForm.value | json }}</p>
  <p>Form errors: {{ rootForm.errors | json }}</p>
  <p>Form status: {{ rootForm.status }}</p>
</mat-card>
