<p class="dashboard-source-content">
  dev-layout-dashboard works!
</p>

<br>

<dev-layout-button></dev-layout-button>

<br>

<div class="primary-source-content">
  <h3>This content will be rendered in the primary-controller router-outlet from the dashboard.</h3>
</div>

<br>

<div *devLayoutAncillarySource class="ancillary-source-content">
  <h3>This content will be rendered in the ancillary-controller from the dashboard.</h3>
</div>

<br>

<div *devLayoutAuxiliarySource class="auxiliary-source-content">
  <h3>This content will be rendered in the auxiliary-controller from the dashboard.</h3>
</div>

<br>