
<span *ngFor="let item of appBarMenuItems">
  
  <!-- Handle branch node buttons here -->
  <span *ngIf="item.children && item.children.length > 0">
    <button mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">
      {{ item.displayName }}
    </button>
    <app-bar-menu-item #menu [items]="item.children"></app-bar-menu-item>
  </span>
  
  <!-- Leaf node buttons here -->
  <span *ngIf="!item.children || item.children.length === 0">
    <button mat-button [routerLink]="item.route">
      {{ item.displayName }}
    </button>
  </span>
  
</span>